.header {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem 0;
}

.sort_container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.sort_container > * {
  margin: 0 5px;
}
.select {
  border: none;
  background-color: gainsboro;
  border-radius: 5px;
  padding: 3px 10px;
}
.button {
  border: none;
  background-color: gainsboro;
  border-radius: 5px;
}
